@import "tailwindcss";

@theme {

  /* Background */
  --color-neutral-primary: rgba(255, 255, 255, 1);
  --color-neutral-primary-inverse: rgba(76, 76, 72, 1);
  --color-neutral-transparent: rgba(255, 255, 255, 0);
  --color-neutral-secondary: rgba(251, 251, 250, 1);
  --color-neutral-secondary-inverse: rgba(117, 117, 111, 1);
  --color-neutral-tertiary: rgba(235, 235, 231, 1);
  --color-neutral-disabled: rgba(244, 244, 242, 1);
  --color-neutral-active: rgba(216, 216, 211, 1);
  --color-brand-default: rgba(37, 99, 235, 1);
  --color-brand-alternate: rgba(29, 78, 216, 1);
  --color-brand-subtle: rgba(239, 246, 255, 1);
  --color-brand-active: rgba(29, 78, 216, 1);
  --color-error-default: rgba(239, 68, 68, 1);
  --color-error-subtle: rgba(254, 242, 242, 1);
  --color-error-active: rgba(220, 38, 38, 1);
  --color-error-subtle-active: rgba(254, 202, 202, 1);
  --color-warning-default: rgba(245, 158, 11, 1);
  --color-warning-subtle: rgba(255, 251, 235, 1);
  --color-success-default: rgba(16, 185, 129, 1);
  --color-success-subtle: rgba(236, 253, 245, 1);

  /* Boarder */
  --color-neutral-br-primary: rgba(235, 235, 231, 1);
  --color-neutral-br-secondary: rgba(244, 244, 242, 1);
  --color-neutral-br-disabled: rgba(244, 244, 242, 1);
  --color-brand-br-active: rgba(191, 219, 254, 1);
  --color-error-br-error: rgba(254, 202, 202, 1);

  /* Content */
  --color-neutral-ct-primary: rgba(44, 44, 41, 1);
  --color-neutral-ct-secondary: rgba(117, 117, 111, 1);
  --color-neutral-ct-tertiary: rgba(162, 162, 157, 1);
  --color-neutral-ct-disabled: rgba(162, 162, 157, 1);
  --color-neutral-ct-disabled-secondary: rgba(216, 216, 211, 1);
  --color-neutral-ct-placeholder: rgba(162, 162, 157, 1);
  --color-neutral-ct-inverse: rgba(255, 255, 255, 1);
  --color-brand-ct-brand: rgba(30, 64, 175, 1);
  --color-brand-ct-brand-inverse: rgba(239, 246, 255, 1);
  --color-error-ct-error: rgba(185, 28, 28, 1);
  --color-warning-ct-warning: rgba(217, 119, 6, 1);
  --color-warning-ct-warning-inverse: rgba(254, 243, 199, 1);
  --color-success-ct-success: rgba(5, 150, 105, 1);
}